{% extends 'base.html' %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <label for="card1">Choose card 1:</label>
    <select name="card1">
      {% for card in cards %}
        <option value="{{ card }}">{{ card }}</option>
      {% endfor %}
    </select>
    <br>
    <label for="card2">Choose card 2:</label>
    <select name="card2">
      {% for card in cards %}
        <option value="{{ card }}">{{ card }}</option>
      {% endfor %}
    </select>
    <br>
    <button type="submit">Submit</button>
  </form>
{% endblock %}
