<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Poker Game</title>
  </head>
  <body>
    <h1>Poker Game</h1>
    <p>Your cards:</p>
    <img src="{{ MEDIA_URL }}{{ card1.image.url }}" class="card-img">
    <img src="{{ MEDIA_URL }}{{ card2.image.url }}" class="card-img">

    <p>Community cards:</p>
    {% for card in community_cards %}
      <img src="{{ MEDIA_URL }}{{ card.image.url }}" class="card-img">
    {% endfor %}
  </body>
</html>
