<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Poker Trainer</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    {% load static %}
    {% csrf_token %}
  </head>
  <body>
    <h1>Welcome to Poker Trainer</h1>
    <p>Select two cards to see the winning percentage</p>

    {% for card in cards %}
    <form method="post" action="{% url 'choose_cards' %}">
      {% csrf_token %}
      <label for="card1">Select card 1:</label>
      <div class="cards">
        {% for card in cards %}
          <label>
            <input type="radio" name="card1" value="{{ card.id }}">
            <img src="{{ MEDIA_URL }}{{ card.image.url }}" class="card-img">
          </label>
        {% endfor %}
      </div>

      <label for="card2">Select card 2:</label>
      <div class="cards">
        {% for card in cards %}
          <label>
            <input type="radio" name="card2" value="{{ card.id }}">
            <img src="{{ MEDIA_URL }}{{ card.image.url }}" class="card-img">
          </label>
        {% endfor %}
      </div>

      <button type="submit">Submit</button>
    </form>
    {% endfor %}

  </body>
</html>



